@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .3);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    user-select: none;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;;
}

html{
    font-size: 62.5%;
    overflow: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    background: #EAFFD0;
}

.header{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #FF75A0;
    box-shadow: var(--box-shadow);
}

.header .logo-content{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #FCE38A;
}

.header .logo-content i{
    font-size: 3.5rem;
}

.header .navi a{
    font-size: 2rem;
    padding: .5rem 1.5rem;
    border-radius: 5px;
    color: #FCE38A;
}

.header .navi a.active, .header .navi a:hover{
    background: #FCE38A;
    color: #FF75A0;
}

/* sub navi */
.header .sub-navi i, .header .sub-navi a{
    cursor: pointer;
    height: 3.5rem;
    line-height: 3.5rem;
    width: 3.5rem;
    font-size: 2rem;
    margin-left: 0.5rem;
    text-align: center;
    color: #FCE38A;
    border-radius: 50%;
}

.header .sub-navi i:hover, .header .sub-navi a:hover{
    color: #FF75A0;
    background-color: #FCE38A;
    transform: rotate(360deg);
    transition: 0.8s;
}

/* bars */
.header .sub-navi #bars-button{
    display: none;
}

/* search content */
#search-content{
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 110;
    background: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-content.active{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 110;
    background: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-content #search-box{
    width: 50rem;
    border-bottom: .1rem solid #FF75A0;
    padding: 1rem 0;
    color: #FCE38A;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-content #search-box::placeholder{
    color: #FCE38A;
    text-align: center;
}

#search-content #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-content label{
    cursor: pointer;
    color: #FCE38A;
    font-size: 3rem;
}

#search-content label:hover{
    color: #FF75A0;
    transform: rotate(360deg);
    transition: 1s;
}

#search-content #close-button{
    position: absolute;
    color: #FCE38A;
    top: 0;
    right: 0;
    font-size: 4rem;
    margin: 2rem;
}

#search-content #close-button:hover{
    cursor: pointer;
    transform: rotate(360deg);
    transition: 1.2s;
    color: #FF75A0;
}

/* media */
@media (max-width: 800px) {
    html{
        font-size: 55%;
    }

    .header{
        padding: 1rem 2rem;
    }
}

@media (max-width: 666px) {
    .header .sub-navi #bars-button{
        display: inline-block;
    }

    .header .navi{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #FF75A0;
        border-top: 0.1rem solid rgba(0, 0, 0, .2);
        border-bottom: 0.1rem solid rgba(0, 0, 0, .2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        /* box-shadow: var(--box-shadow); */
    }

    .header .navi.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navi a{
        display: block;
        margin: 1rem;
        padding: 1.5rem;
        font-size: 2rem;
    }

    #search-content #search-box{
        font-size: 2rem;
        width: 60%;
        margin: 0 1rem;
    }

    #search-content #close-button{
        font-size: 3rem;
    }

    #search-content label{
        font-size: 2rem;
    }
}

@media (max-width: 800px) {
    html{
        font-size: 50%;
    }

}